<!-- Hero Section Of This Page -->
<div class="bg-orange heroBgs">
    <div class="HeroCentreHEading">
        <h1 class="section-heading" style="color: var(--active) !important; text-transform: uppercase;">App Development: <br>
            <h2 style="text-transform: uppercase; margin-top: 15px;">Innovative apps that deliver seamless user experiences:)</h2>
        </h1>

    </div>
</div>



<section>

    <div class="container services-main-div ">
         <!-- Introduction -->
         <div style="text-align: center; padding-top: 100px ;">
            <span>
                <h1 class="services-small-headings" style="text-transform: none !important; letter-spacing: 3.5px; text-align: center !important;  ">App Development</h1>
                <h2 class="services-headings">Innovative Mobile App Development</h2>
            </span>
        </div>

        <!-- service 1 start -->
        <div class="row ">
            <div class="col-lg-6 col-md-6 services-image">
                <img src="assets/img/appdevelopment.png" alt="" style="max-width: 100%;">
            </div>
            <div class="col-lg-6 col-md-6 services-text app-development ">
                    <div>
                        <h2 class="services-small-headings  heading-alightment ">Android App Development:</h2>
                        <p class="services-paragraph"> 
                            We create custom Android apps that are feature-rich and tailored to your business needs. Our 
                            apps are optimized for performance and user engagement. 
                        </p>
                    </div>
                    <div>
                        <h2 class="services-small-headings  heading-alightment">iOS App Development:</h2>
                        <p class="services-paragraph">
                            Our iOS apps are designed with the latest Apple guidelines, ensuring a seamless user experience. 
                            We develop apps that are intuitive, fast, and visually appealing.
                        </p>
                    </div>
                    <div>
                        <h2 class="services-small-headings  heading-alightment">Cross-Platform Development:</h2>
                        <p class="services-paragraph">
                            Reach a wider audience with our cross-platform app development services. We create apps that 
                            work perfectly on both Android and iOS, using frameworks like Flutter and React Native.
                        </p>
                    </div>                
            </div>
        </div>
        <div class="text-center">
            <button class="btn my-btn" routerLink="/contactUs">Get Started</button>
    </div>

        <!-- service 1 end -->
    </div>
</section>

