<!-- Hero Section Of This Page -->
<div class="heroBgs bg-orange">
    <div class="HeroCentreHEading">
        <h1 class="section-heading" style="color: var(--active) !important; text-transform: uppercase;">Social Media
            Management<br>
            <h2 style="text-transform: uppercase; margin-top: 15px;">Grow your brand with strategic social media
                management:)</h2>
        </h1>
    </div>
</div>

<section>
    <div class="container services-main-div ">
        <!-- Introduction -->
        <div style="text-align: center; padding-top: 100px ;">
            <span>
                <h1 class="services-small-headings "
                    style="text-transform: none !important; letter-spacing: 3.5px; text-align: center !important;">
                    Social Media Management</h1>
                <h2 class="services-headings">Expert Social Media Management</h2>
            </span>
        </div>
        <!-- service 1 start -->
        <div class="row ">
            <div class="col-lg-6 col-md-6 services-image">
                <img src="assets/img/socialmediahandles.png" alt="" style="max-width: 100%;">
            </div>
            <div class="col-lg-6 col-md-6 services-text app-development ">
                    <div>
                        <h2 class="services-small-headings  heading-alightment">Content Creation:</h2>
                        <p class="services-paragraph">
                            We create engaging content tailored to your audience, including posts, stories, and videos
                            that
                            drive interaction and grow your online community.
                        </p>
                    </div>
                    <div>
                        <h2 class="services-small-headings  heading-alightment">Account Management:</h2>
                        <p class="services-paragraph">
                            We manage your social media accounts, ensuring consistent branding, regular updates, and
                            active audience engagement across platforms.
                        </p>
                    </div>
                    <div>
                        <h2 class="services-small-headings  heading-alightment">Social Media Analytics:</h2>
                        <p class="services-paragraph">
                            Our analytics services provide insights into your social media performance, helping you
                            understand what works and how to improve your strategy.
                        </p>
                    </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn my-btn" routerLink="/contactUs">Get Started</button>
        </div>

        <!-- service 1 end -->
    </div>
</section>