<!-- Hero Section Of This Page -->
<div class="heroBgs bg-orange">
    <div class="HeroCentreHEading"> 
            <h1 class="section-heading" style="color: var(--active) !important; text-transform: uppercase;">Video Editing: <br>
              <h2 style="text-transform: uppercase; margin-top: 15px;">Engaging videos that captivate your audience:)</h2>
            </h1>
        </div>
 </div>

 <section>



  <div class="container services-main-div ">
<!-- Introduction -->
<div style="text-align: center; padding-top: 100px ;">
    <span>
        <h1 class="services-small-headings  " style="text-transform: none !important; letter-spacing: 3.5px; text-align: center !important;">Video Editing</h1>
        <h2 class="services-headings">Professional Video Editing Services</h2>
    </span>
</div>
      <!-- service 1 start -->
      <div class="row ">
          <div class="col-lg-6 col-md-6 services-image">
              <img src="assets/img/videoediting.png" alt="" style="max-width: 100%;">
          </div>
          <div class="col-lg-6 col-md-6 services-text app-development ">
                  <div>
                      <h2 class="services-small-headings  heading-alightment">Corporate Videos:</h2>
                      <p class="services-paragraph">
                        We create polished corporate videos that effectively communicate your brand’s message to your 
                        target audience. 
                      </p>
                  </div>
                  <div>
                      <h2 class="services-small-headings  heading-alightment">Promotional Videos:</h2>
                      <p class="services-paragraph"> 
                        Our promotional video editing services help you create engaging content that drives conversions 
                        and boosts your brand’s visibility.
                      </p>
                    </div>
                
                  <div>
                      <h2 class="services-small-headings  heading-alightment">Social Media Videos:</h2>
                      <p class="services-paragraph">
                        We edit videos optimized for social media platforms like Instagram, Facebook, and YouTube, 
                        ensuring maximum engagement and reach. 
                      </p>
                  </div>
          </div>
      </div>
      <div class="text-center">
        <button class="btn my-btn" routerLink="/contactUs">Get Started</button>
  </div>

      <!-- service 1 end -->
  </div>
</section>