section
{
    padding: 0 !important;
}
.videos
{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
@media (max-width: 768px) {
    .videos
    {
        width: 100% !important;
    }
}

.row
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:992px) {
    .heading-alightment
    {
        font-size: 15px !important;
    text-align: left !important;
    
    }
    
        
    }