<div class="heroBgs bg-orange">
  <div class="HeroCentreHEading">
    <h1 class="section-heading" style=" text-transform: uppercase !important;
      letter-spacing: 3px !important;">Term And Conditions</h1>
  </div>
</div>

<div class="container terms-section">
  <h2 class="terms-main-heading">Terms and Conditions</h2>
  
  <div class="terms-item">
    <h6 class="terms-heading">Introduction</h6>
    <p class="terms-paragraph">
      <strong>Introduction:</strong> By accessing our website and services, you agree to these terms.
    </p>
  </div>

  <div class="terms-item">
    <h6 class="terms-heading">Services</h6>
    <p class="terms-paragraph">
      We provide web development, app development, video editing, and digital marketing services on a freelance basis.
    </p>
  </div>

  <div class="terms-item">
    <h6 class="terms-heading">Payment Terms</h6>
    <p class="terms-paragraph">
      We offer flexible payment options, including weekly or monthly installments without interest. For graphic-related projects, a 20% upfront payment is required, while web development projects require 30-35% upfront.
    </p>
  </div>

  <div class="terms-item">
    <h6 class="terms-heading">Response Time</h6>
    <p class="terms-paragraph">
      We commit to responding to client queries within 24 hours.
    </p>
  </div>

  <div class="terms-item">
    <h6 class="terms-heading">Portfolio</h6>
    <p class="terms-paragraph">
      Some portfolio items on our site are placeholders and will be replaced as new work is completed.
    </p>
  </div>

  <div class="terms-item">
    <h6 class="terms-heading">Customer Support</h6>
    <p class="terms-paragraph">
      We are committed to providing prompt support and are available to respond to client queries within 24 hours. You can reach us via email or the contact form on our website.
    </p>
  </div>
</div>
