
<div class="heroBgs bg-orange">
    <div class="HeroCentreHEading">
      <h1 class="section-heading" style=" text-transform: uppercase !important;
        letter-spacing: 3px !important;">Privacy Policy</h1>
    </div>
  </div>


  <div class="container privacy-policy-section">
    <h2 class="privacy-main-heading">Privacy Policy</h2>
  
    <div class="privacy-item">
      <h6 class="privacy-heading">Data Collection</h6>
      <p class="privacy-paragraph">
        We collect personal information such as names, emails, and payment details when you contact us or use our services. This information is used for project management, communication, and billing purposes.
      </p>
    </div>
  
    <div class="privacy-item">
      <h6 class="privacy-heading">Data Usage</h6>
      <p class="privacy-paragraph">
        Your personal information will never be shared with third parties except when necessary to complete your project (e.g., payment processing).
      </p>
    </div>
  
    <div class="privacy-item">
      <h6 class="privacy-heading">Data Protection</h6>
      <p class="privacy-paragraph">
        We use industry-standard measures to ensure the security of your data.
      </p>
    </div>
  
    <div class="privacy-item">
      <h6 class="privacy-heading">Cookies</h6>
      <p class="privacy-paragraph">
        We may use cookies to enhance your browsing experience. You can disable cookies in your browser settings.
      </p>
    </div>
  
    <div class="privacy-item">
      <h6 class="privacy-heading">Updates to Privacy Policy</h6>
      <p class="privacy-paragraph">
        We reserve the right to update this policy at any time. Users will be notified of significant changes.
      </p>
    </div>
  </div>
  