<!-- ServicesHeroSection -->
<div class="heroBgs bg-orange">
    <div class="HeroCentreHEading">
        <h1 class="section-heading" style="text-transform: uppercase !important;
    letter-spacing: 3px !important; color: var(--active) !important;">Services We Provide: <br>
<h2 style="text-transform: uppercase; margin-top: 15px;">Discover our tailored services designed to elevate your success:)
</h2>     
</h1>
    </div>
</div>


<!-- cards -->
<section class="about-card-section">

    <div class="main-heading">
        <p class="section-small-heading section-text-small ">
            <span></span>
            What We Do
            <span></span>
        </p>
        <h1 class="text-center mt-1 mb-5 section-heading whatWeDoHeading">We Solve Better with<br> <span class="soft-sol">
            Innovative Software </span>Solution</h1>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <i class="fa fa-code"></i>
                <h1 class="main-service-heading">
                    <a routerLink="/webDevelopmentService"
                        style="text-decoration: none;  color: var(--black-text) !important; cursor: pointer;">Web
                        Development</a>
                </h1>
                <p class="main-serive-para">
                    We specialize in crafting custom websites that are visually stunning and functionally robust.
                    Whether you
                    need an eCommerce platform, a corporate website, or a personal blog, our web development services
                    cover it all.
                </p>
                <a routerLink="/webDevelopmentService" style="text-decoration: none;">
                    <button class="btn my-btn">Learn More</button>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center" style="padding: 0 !important;">
                <img src="assets/img/mainservice1.png" alt="" style="max-width: 100%;">
            </div>

            <div class="col-lg-4 col-md-6">
                <i class="fa fa-mobile-alt"></i>
                <h1 class="main-service-heading">
                    <a routerLink="/appDevelopmentService"
                        style="text-decoration: none;  color: var(--black-text) !important; cursor: pointer;">App
                        Development
                    </a>
                </h1>
                <p class="main-serive-para">
                    Our app development services cater to both Android and iOS platforms. We create intuitive,
                    user-friendly
                    mobile apps that meet your business needs and engage your audience effectively.
                </p>
                <a routerLink="/appDevelopmentService" style="text-decoration: none;">
                    <button class="btn my-btn">Learn More</button>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <i class="fa fa-bullhorn"></i>
                <h1 class="main-service-heading">
                    <a routerLink="/graphicDesigningService"
                        style="text-decoration: none; color: var(--black-text) !important; cursor: pointer;">SEO (Search
                        Engine Optimization)
                    </a>
                </h1>
                <p class="main-serive-para">
                    Boost your online visibility with our expert SEO services. We optimize your website to rank higher
                    on
                    search engines, drive organic traffic, and convert visitors into customers.
                </p>
                <a routerLink="/seoOptimizationService" style="text-decoration: none;">
                    <button class="btn my-btn">Learn More</button>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <i class="fa fa-pencil-alt"></i>
                <h1 class="main-service-heading">Video Editing</h1>
                <p class="main-serive-para">
                    Transform your raw footage into compelling stories with our video editing services. We provide high
                    quality edits that capture your audience’s attention and convey your message effectively.
                </p>
                <a routerLink="/videoEditingService" style="text-decoration: none;">
                    <button class="btn my-btn">Learn More</button>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <i class="fa fa-video"></i>
                <h1 class="main-service-heading">Graphic Designing</h1>
                <p class="main-serive-para">
                    Our graphic design services help your brand stand out. From logos to banners, animated overlays, and
                    more, we create stunning visuals that reflect your brand’s identity.
                </p>
                <a routerLink="/graphicDesigningService" style="text-decoration: none;">
                    <button class="btn my-btn">Learn More</button>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <i class="fa fa-search"></i>
                <h1 class="main-service-heading">Digital Marketing</h1>
                <p class="main-serive-para">
                    Reach your target audience and achieve your business goals with our comprehensive digital marketing
                    services. We specialize in social media marketing, PPC, email campaigns, and more.
                </p>
                <a routerLink="/digitalMarketingService" style="text-decoration: none;">
                    <button class="btn my-btn">Learn More</button>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 d-flex justify-content-center" style="padding: 0 !important;">
                <img src="assets/img/mainservice2.png" alt="" style="max-width: 100%;">
            </div>

            <div class="col-lg-4 col-md-12">
                <i class="fa fa-share-alt"></i>
                <h1 class="main-service-heading">Social Media Management</h1>
                <p class="main-serive-para">
                    Build and maintain a strong online presence with our social media management services. We create
                    engaging content and manage your accounts to grow your brand and connect with your audience.
                </p>
                <a routerLink="/socialMediaService" style="text-decoration: none;">
                    <button class="btn my-btn">Learn More</button>
                </a>
            </div>
        </div>
    </div>

</section>