<!-- Hero Section Of This Page -->
<div class="heroBgs bg-orange">
    <div class="HeroCentreHEading">
        <h1 class="section-heading" style="color: var(--active) !important; text-transform: uppercase;">Digital Marketing<br>
            <h2 style="text-transform: uppercase; margin-top: 15px;">Elevate your brand with powerful digital strategies:)
            </h2>
        </h1>
    </div>
</div>
<section>
    <div class="container services-main-div ">
        <!-- Introduction -->
        <div style="text-align: center; padding-top: 100px ;">
            <span>
                <h1 class="services-small-headings  " style="text-transform: none !important; letter-spacing: 3.5px; text-align: center !important;">Digital Marketing</h1>
                <h2 class="services-headings"> Results-Driven Digital Marketing</h2>
            </span>
        </div>
        <!-- service 1 start -->
        <div class="row ">
            <div class="col-lg-6 col-md-6 services-image">
                <img src="assets/img/digitalmarketing.png" alt="" style="max-width: 100%;">
            </div>
            <div class="col-lg-6 col-md-6 services-text app-development ">
                    <div>
                        <h2 class="services-small-headings  heading-alightment">Social Media Marketing:</h2>
                        <p class="services-paragraph">
                            We create and manage targeted social media campaigns that increase brand awareness, drive audience engagement, and generate qualified leads.
                        </p>
                    </div>
                    <div>
                        <h2 class="services-small-headings  heading-alightment">Pay-Per-Click (PPC) Advertising:</h2>
                        <p class="services-paragraph">
                            Our PPC advertising services ensure that your ads reach the right audience, delivering high return on investment (ROI) and driving high-converting traffic to your website.
                        </p>
                    </div>

                    <div>
                        <h2 class="services-small-headings  heading-alightment">Email Marketing:</h2>
                        <p class="services-paragraph">
                            We craft personalized email campaigns that nurture leads and convert them into customers,
                            helping you build lasting relationships with your audience.
                        </p>
                    </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn my-btn" routerLink="/contactUs">Get Started</button>
        </div>

        <!-- service 1 end -->
    </div>
</section>