<div class="heroBgs bg-orange">
    <div class="HeroCentreHEading">
      <h1 class="section-heading" style=" text-transform: uppercase !important;
        letter-spacing: 3px !important;">paymentpolicy works!</h1>
    </div>
  </div>


  <div class="container policy-section">
    <h2 class="policy-main-heading">Our Payment Policies</h2>
  
    <div class="policy-item">
      <h6 class="policy-heading">Payment Policy</h6>
      <p class="policy-paragraph">
        We offer flexible, interest-free installment plans for payments. Clients can choose to pay weekly or monthly. For graphic design projects, 20% upfront payment is required. Web development projects require a 30-35% upfront payment.
      </p>
    </div>
  
    <div class="policy-item">
      <h6 class="policy-heading">Refund Policy</h6>
      <p class="policy-paragraph">
        Refunds are considered on a case-by-case basis, depending on the project stage and scope.
      </p>
    </div>
  
    <div class="policy-item">
      <h6 class="policy-heading">Portfolio Policy</h6>
      <p class="policy-paragraph">
        Some portfolio items displayed on our site are used as examples and will be updated with completed work as new projects are finalized.
      </p>
    </div>
  </div>
  