<!-- Hero Section Of This Page -->
<div class="heroBgs bg-orange">
    <div class="HeroCentreHEading"> 
            <h1 class="section-heading" style="color: var(--active) !important; text-transform: uppercase;">Search Engine Optimization: <br>
            <h2 style="text-transform: uppercase; margin-top: 15px;">Boost your online visibility and rank higher on search engines:)</h2>
            </h1>
        </div>
 </div>


 <section>

    <div class="container services-main-div ">
 <!-- Introduction -->
 <div style="text-align: center; padding-top: 100px ;">
    <span>
        <h1 class="services-small-headings  " style="text-transform: none !important; letter-spacing: 3.5px; text-align: center !important;">SEO (Search Engine Optimization)</h1>
        <h2 class="services-headings">Comprehensive SEO Services</h2>
    </span>
</div>
        <!-- service 1 start -->
        <div class="row ">
            <div class="col-lg-6 col-md-6 services-image">
                <img src="assets/img/seo.png" alt="" style="max-width: 100%;">
            </div>
            <div class="col-lg-6 col-md-6 services-text app-development ">
                    <div>
                        <h2 class="services-small-headings  heading-alightment">On-Page Optimization:</h2>
                        <p class="services-paragraph">
                            We optimize your website’s content, site structure, and technical SEO elements to improve search engine rankings and enhance the overall user experience.
                        </p>
                    </div>
                    <div>
                        <h2 class="services-small-headings  heading-alightment">Off-Page SEO:</h2>
                        <p class="services-paragraph"> 
                            Our off-page SEO strategies include quality link building, social media marketing, and more to boost your website’s domain authority and online visibility.
                        </p>
                    </div>
                  
                    <div>
                        <h2 class="services-small-headings  heading-alightment">Local SEO:</h2>
                        <p class="services-paragraph">
                            Get found by local customers with our local SEO services. We optimize your online presence for 
                            local search results, driving more traffic to your physical location.
                        </p>
                    </div>
                
            </div>
        </div>
        <div class="text-center">
            <button class="btn my-btn" routerLink="/contactUs">Get Started</button>
    </div>

        <!-- service 1 end -->
    </div>
</section>