<!-- hero section -->
<div class="modal" *ngIf="isModalVisible">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <p>We are committed to delivering high-quality <strong>Digital Services</strong> such as <strong>video
        editing</strong>, <strong>web development</strong>, and <strong>marketing.</strong></p>
        <button routerLink="portfolio" class="btn my-btn" style="text-wrap: nowrap; margin-top: 15px;">
            Explore Our Portfolio
        </button>
    </div>
  </div>
  


<section class="heroSection" >
    <div class="body" >
        <div role="main" class="main">
            <div class="container position-relative py-5" style="min-height: 643px;" id="home">
                <svg class="custom-svg-style-1" viewBox="0 0 180 470" x="0px" y="0px" width="100%" height="100%"
                    style="position:absolute; top:0;  z-index:0; background: var(--bg-white-somke);">
                    <g>
                        <path id="shape_one_start" opacity="0.098" fill="#FF7815"
                            d="M 847.5703 23.7939 C 847.5703 23.7939 581.8154 -245.1675 394.2842 33.9375 C 305.4043 166.2183 345.0537 358.8125 253.5615 364.6631 C 162.0684 370.5146 129.5303 342.542 70.9883 383.9072 C 3.0254 431.9297 17.8926 499.2158 17.8926 499.2158 L 847.5703 499.2158 L 847.5703 23.7939 Z" />
                        <path id="shape_one_end" opacity="0.098" fill="#FF7815"
                            d="m847.5703,24.7939c0,0 -85.7549,-346.9614 -273.2861,-67.8564c149.1201,176.2808 52.7695,313.875 -46.7227,312.7256c-99.4922,-1.1494 -59.0312,107.8789 -117.5732,149.2441c-67.9629,48.0225 -186.0957,167.3086 -207.0957,167.3086l644.6777,-86l0,-475.4219z"
                            style="visibility:hidden" />
                        <path id="shape_two_start" opacity="0.149" fill="#FF7815"
                            d="M 847.5703 239.9771 C 847.5703 239.9771 806.873 141.5913 733.1348 164.937 C 622.249 200.0459 648.416 318.083 566.6426 342.042 C 484.8682 365.999 247.9814 345.0283 168.6406 371.8037 C 89.3008 398.5781 85.5703 499.3408 85.5703 499.3408 L 847.5693 499.3408 L 847.5703 239.9771 Z" />
                        <path id="shape_two_end" opacity="0.149" fill="#FF7815"
                            d="m907.5703,89.9771c0,0 29.3027,-9.3858 -95.4355,112.9599c-124.7382,122.3457 -254.7188,64.146 -300.4922,167.105c-45.7734,102.959 -79.6612,61.9863 -209.002,106.7617c-129.3408,44.7754 -218.0703,21.5371 -218.0703,21.5371l761.999,0l0.001,-265.3637z"
                            style="visibility:hidden" />
                    </g>
                </svg>

                <div class="row align-items-center  p-relative z-index-1" style="position: relative; z-index: 1;">
                    <div class="col-lg-6 pt-4 pt-lg-0 mt-5 mt-lg-0 mb-5 mb-lg-0 heroHome">
                        <div>
                            <h1 class="heroH1">
                                Empowering Your Vision With <strong class="soft-sol">Cutting-Edge</strong> Solutions
                            </h1>
                        </div>
                        <div>
                            <p class="text-4 ">
                                At Synthetic Inventions, we turn your ideas into reality with our expert services in Web
                                Development, App
                                Development, SEO, Video Editing, Graphic Designing, Digital Marketing, and Social Media
                                Management.
                                Whether you’re a startup or an established business, we have the tools and expertise to
                                elevate your
                                digital presence.
                            </p>
                            <!-- Social Icons -->
                            <div class="social-icons">
                                <a href="https://www.behance.net/syntheticinvention/" target="_blank"
                                    class="social-icon"><i class="fab fa-behance fa-2x"></i></a>
                                <a href="https://www.instagram.com/synthetic_inventions/" target="_blank"
                                    class="social-icon"><i class="fab fa-instagram fa-2x"></i></a>
                                <a href="https://www.linkedin.com/in/synthetic-invention-58618731b/" target="_blank"
                                    class="social-icon"><i class="fab fa-linkedin fa-2x"></i></a>
                                <a href="https://www.discord.com/syntheticinvention._" target="_blank" class="social-icon"><i
                                        class="fab fa-discord fa-2x"></i></a>
                                <a href="https://twitter.com/@syntheticInve" target="_blank" class="social-icon"><i
                                        class="fab fa-twitter fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center mt-5 appear-animation hero-right-image "
                        data-appear-animation="fadeInRightShorter" data-appear-animation-delay="550">
                        <img src="assets/img/hero-image.png" class="img-fluid" alt="" data-plugin-float-element
                            data-plugin-options="{'startPos': 'none', 'speed': 8, 'transition': true, 'horizontal': true}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Get In Touch -->

<div style="background-color: var(--bg-white-somke); padding: 70px; padding-top: 0px; " >
    <div class="container py-5">
        <div class="row">
            <div class="main-heading">
                <h1 class="text-center section-heading">Get In Touch</h1>
            </div>
            <!-- Card 1 -->
            <div class="col-md-4 card-sm" >
                <a href="https://twitter.com/@syntheticInve" class="card card-2" target="_blank">
                    <div class="card-body">
                        <i class="fab fa-twitter" style="color: #1DA1F2;"></i>
                    </div>
                </a>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 card-sm">
                <a href="https://discord.com/users/syntheticinvention._" class="card card-2" target="_blank">
                    <div class="card-body">
                        <i class="fab fa-discord" style="color: #7289DA;"></i>
                    </div>
                </a>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4 card-sm">
                <a href="mailto:syntheticinventions@gmail.com" class="card card-3">
                    <div class="card-body">
                        <i class="fas fa-envelope" style="color: #D93025;"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



<!-- Services -->
<section class="serviceSection ">
    <div class="container-fluid">
        <div class="main-heading">
            <p class="section-small-heading section-text-small ">
                <span></span>
                Services
                <span></span>
            </p>
            <h1 class="text-center mt-1 mb-5 section-heading">What We Provide</h1>
        </div>
        <div class="services">
            <div class="left-services">
                <div class="service-item">
                    <div class="service-content">
                        <h2>Web Development:</h2>
                        <p>
                            We specialize in creating responsive, user-friendly websites that not only look great but
                            also
                            perform excellently. Our team develops custom websites that are tailored to meet your
                            specific
                            business needs, ensuring optimal user experience, fast loading times, and seamless
                            navigation.
                            Whether you need a simple brochure website or a complex eCommerce platform, we’ve got you
                            covered.
                        </p>
                    </div>
                    <div class="service-content-icon">
                        <span class="service-content-icon-wrap">
                            <i class="fas fa-code"></i>
                        </span>
                    </div>
                </div>

                <div class="service-item">
                    <div class="service-content">
                        <h2>App Development:</h2>
                        <p>
                            Our app development services focus on creating innovative mobile applications that provide
                            seamless user experiences. From concept to deployment, we handle every aspect of app
                            development, ensuring that your app is intuitive, scalable, and aligns perfectly with your
                            business
                            goals. We develop both native and cross-platform apps that engage users and drive business
                            growth.
                        </p>
                    </div>
                    <div class="service-content-icon">
                        <span class="service-content-icon-wrap">
                            <i class="fas fa-mobile-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-content">
                        <h2>SEO (Search Engine Optimization):</h2>
                        <p>
                            Our SEO services are designed to increase your website’s visibility on search engines like
                            Google.
                            We use proven strategies to improve your search engine rankings, drive more organic traffic
                            to
                            your site, and convert visitors into customers. Whether it’s on-page optimization, keyword
                            research, or link building, we ensure that your website stands out in the competitive
                            digital
                            landscape.
                        </p>
                    </div>
                    <div class="service-content-icon">
                        <span class="service-content-icon-wrap">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="service-centre-logo">
                <img src="assets/img/syntheticS.png " alt="Central Logo" class="service-centre-image" width="100%"
                    height="500px">
            </div>

            <!-- right services -->
            <div class="right-services">
                <div class="service-item">
                    <div class="service-content-icon">
                        <span class="service-content-icon-wrap">
                            <i class="fas fa-video"></i>
                        </span>
                    </div>
                    <div class="service-content">
                        <h2>Video Editing:</h2>
                        <p>
                            Our video editing services turn raw footage into compelling stories. We work with you to
                            understand your vision and transform it into high-quality videos that resonate with your
                            audience. From corporate videos to promotional content, we ensure that your videos are
                            polished, professional, and aligned with your brand’s message.
                        </p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-content-icon">
                        <span class="service-content-icon-wrap">
                            <i class="fas fa-paint-brush"></i>
                        </span>
                    </div>
                    <div class="service-content">
                        <h2>Graphic Designing:</h2>
                        <p>
                            Our graphic design services are aimed at making your brand visually appealing. We create
                            stunning graphics that enhance your brand identity, from logos and brochures to social media
                            posts and banners. Our designs are not just aesthetically pleasing but also convey your
                            brand
                            message effectively, helping you stand out in a crowded market.
                        </p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-content-icon">
                        <span class="service-content-icon-wrap">
                            <i class="fas fa-bullhorn"></i>
                        </span>
                    </div>
                    <div class="service-content">
                        <h2>Digital Marketing:</h2>
                        <p>
                            We offer comprehensive digital marketing services that help you reach your target audience
                            and
                            achieve your business goals. Our strategies include social media marketing, email marketing,
                            PPC
                            campaigns, and content marketing, all designed to increase your online presence and drive
                            conversions. We focus on delivering measurable results that maximize your ROI.
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <div class="d-flex justify-content-center align-items-center mt-4">
            <button class="btn my-btn" routerLink="/services">Learn More</button>
        </div>
    </div>
</section>


<!-- whychoose us -->
<section class="whychooseus">
    <div class="container-fluid why-choose-bg">
        <div class="row">
            <div class="col-lg-6 order-lg-1 order-2" style="margin: 0 !important;">
                <h2 class="syntheticHeading">Why Should You Choose <span class="soft-sol">Synthetic Invention?</span>
                </h2>
                <p class="choose-para">
                    Synthetic Invention is your go-to partner for innovative digital solutions. We offer expertise in
                    web development, digital marketing, SEO, and more, ensuring your business stands out in the digital
                    landscape. Trust us to deliver quality and results.
                </p>
                <button class="btn my-btn" routerLink="/contactUs">Contact Us</button>
            </div>
            <div class="col-lg-6 chooseDescription order-lg-2 order-1" style="margin: 0 !important;">
                <div class="button-container">
                    <button *ngFor="let tab of tabs" [class.active]="tab.selected" (click)="selectTab(tab)">
                        {{ tab.label }}
                    </button>
                </div>
                <div *ngFor="let tab of tabs" [hidden]="!tab.selected" class="tab-content"
                    style="padding: 20px !important;">
                    <h3 class="choosusHead">{{ tab.heading }}</h3>
                    <p>{{ tab.content }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- portfolio -->
<!-- portfolio -->
<section class="our-portfolio">
    <div class="main-heading">
        <p class="section-small-heading section-text-small">
            <span></span>
            Portfolio
            <span></span>
        </p>
        <h1 class="text-center mt-1 mb-5 section-heading">Our Work Speaks for Itself</h1>
        <h2 class="section-des">
            Browse through our portfolio to see how we’ve helped our clients achieve their goals. Each project
            reflects our commitment to quality and innovation.
        </h2>
    </div>

    <div class="col-12 text-center tab-buttons">
        <button (click)="selectPortfolioTab('website')" [class.active]="currentPortfolioTab === 'website'"
            class="btn rounded-pill px-4 pt-2 btn-warning mx-2 mt-3 active">Websites</button>
        <button (click)="selectPortfolioTab('logo')" [class.active]="currentPortfolioTab === 'logo'"
            class="btn rounded-pill px-4 pt-2 btn-warning mx-2 mt-3">Logos</button>
        <button (click)="selectPortfolioTab('videoEditing')" [class.active]="currentPortfolioTab === 'videoEditing'"
            class="btn rounded-pill px-4 pt-2 btn-warning mx-2 mt-3">Video Edits</button>
    </div>

    <div class="tab-content">
        <div *ngIf="currentPortfolioTab === 'website'">
            <div class="portfolio-image">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 p-3" *ngFor="let image of websiteImages">
                        <img [src]="image.src" [alt]="image.alt">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="currentPortfolioTab === 'logo'">
            <div class="portfolio-image">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 p-3" *ngFor="let image of logoImages">
                        <img [src]="image.src" [alt]="image.alt">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="currentPortfolioTab === 'videoEditing'">
            <div class="portfolio-image">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 p-3" *ngFor="let video of videoEditingVideos">
                        <video autoplay loop>
                            <source [src]="video.src" [type]="video.type">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="see-more-btn mt-1">
        <a class="btn my-btn" routerLink="portfolio">See More</a>
    </div>
</section>




<!-- TESTIMONIALS -->
<section style="background-color: var(--bg-white-somke);">
    <div class="container-fluid ">
        <div class="main-heading">
            <p class="section-small-heading section-text-small ">
                <span></span>
                TESTIMONIAL
                <span></span>
            </p>
            <h1 class="text-center mt-1 mb-5 section-heading">What Our Clients Say</h1>
            <h2 class="section-des">Watch video testimonials from our satisfied clients who’ve experienced the Synthetic
                Inventions
                difference.
            </h2>
        </div>
        <div class="row testimonials">
            <div class="col-lg-6 col-md-6  p-4">
                <div class="pb-3 testimonial-video-bg text-center rounded  align-items-center">
                    <div class="pt-3 portfolio-image">
                        <video class="pb-3  rounded" controls src="assets/videos/testimonialPortfolio1.mp4">
                        </video>
                    </div>
                    <!-- <a class="fs-4 social-link text-primary rf">Coming Soon</a> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 p-4">
                <div class="pb-3 testimonial-video-bg text-center rounded  align-items-center">
                    <div class="pt-3 portfolio-image">
                        <video class="pb-3  rounded" controls src="assets/videos/testimonialPortfolio2.mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>